certifi==2024.12.14
charset-normalizer==3.4.1
Expression==5.5.0
idna==3.10
mypy==1.14.1
mypy-extensions==1.0.0
requests==2.32.3
types-requests==2.32.0.20241016
typing_extensions==4.12.2
urllib3==2.3.0
